.home {
  display: flex;
  position: relative;

  .homeContainer {
    flex: 5;

    .widgets,
    .charts {
      display: flex;
      flex-wrap: wrap;

      padding: 20px;
      gap: 20px;
    }

    .charts {
      padding: 5px 20px;
    }

    .listContainer {
      padding: 20px;
      -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}
