.navbar {
  height: 52px;
  border-bottom: 2px solid rgb(231, 227, 227);
  display: flex;
  align-items: center;
  color: #555;

  .wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .search {
      display: flex;
      align-items: center;
      padding: 3px;
      border: 0.5px solid rgb(231, 227, 227);

      input {
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        .icon {
          font-size: 20px;
        }
        .avatar {
          height: 30px;
          width: 30px;
          border-radius: 50%;
        }
      }
    }
  }
}
